body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.container {
    background-image: url(../images/bgc/bgc.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrap {
    max-width: 1208px;
    margin: 0 auto;
}
.header-menu-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu-nav__link-logo {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 18px 0;
}
.header-menu-nav__link-logo h2:hover {
    color: #3CB878;  
    opacity: 0.4;
}
.header-menu-nav__links-sign-up a {
    display: inline-block;
}
.header-menu-nav__links-sign-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
}
.header-menu-nav__link-cal {
    margin-right: 27px;
}
.header-menu-nav__link-cal:hover .header-menu-nav__link-cal_fill_green {
    fill: rgba(60, 184, 120, 0.4);
}
.header-menu-nav__link-envelope {
    margin-right: 24px;
}
.header-menu-nav__link-envelope:hover .header-menu-nav__link-envelope_fill_green {
    fill: #3CB878;
    opacity: 0.4;
}
.header-menu-nav__link-compass {
    margin-right: 25px;
}
.header-menu-nav__link-compass:hover .header-menu-nav__link-compass_fill_green {
    fill: #3CB878;
    opacity: 0.4;
}
.header-menu-nav__link-login p,
.header-menu-nav__link-login a {
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}
.header-menu-nav__link-login p::before {
    content: '';
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    display: inline-block;
    height:  19px;
    margin-right: 27px;
    vertical-align: middle;
}
.header-menu-nav__link-log_color_green:hover ,
.header-menu-nav__link-sign_color_green:hover  {
    color: rgba(60, 184, 120, 0.4);
    
}
.form-sign-up {
    width: 444px;
    height: 584px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;    
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.form-container {
    width: 322px;
    margin: 0 auto;
}
.header-form-sign-up {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 16px;
}
.header-form-sign-up h3 {
    font-size: 20px;
    line-height: 1;
    color:  #434343;
}
.header-form-sign-up a {
    font-size: 14px;
    line-height: 1;
    color: #3CB878;
}
.header-form-sign-up a:hover {
    color: #01813F;
    text-decoration: underline;
}
.box-green {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
}
.social-media-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.social-media-btn a {
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
}
.btn-blue {
    background-color: #305DB8;
    padding: 10px 20px;
}
.btn-blue:hover {
    background-color: #022263;
}
.social-media-btn .btn-blue span::before {
    content: '';
    border-left: 1px solid #0A162F;
    opacity: 0.1;
    display: inline-block;
    height:  28px;
    margin-right: 18px;
    margin-left: 16px;
    vertical-align: middle;
}
.btn-red {
    background-color: #DF4A32;
    padding: 10px 20px;
}
.btn-red:hover {
    background-color: #AB1F09;
}
.social-media-btn .btn-red span::before {
    content: '';
    border-left: 1px solid #2b0d09;
    opacity: 0.1;
    display: inline-block;
    height:  28px;
    margin-right: 26px;
    margin-left: 8px;
    vertical-align: middle;
}
.form-input {
    display: flex;
    flex-flow: column;
}
.input-part {
    display: flex;
    flex-flow: column;
}
.input-part .form-part input {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.form-input label[type]  {
    color: #434343;
    font-size: 14px;
    line-height: 1;
    
    
}
.form-input label a {
    color: #3CB878;
    display: inline-block;
    
}
.form-input label a:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
    box-sizing: border-box;
}
.submit-btn {
    width: 322px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    height: 46px;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 34px;
}
.submit-btn:hover {
    background-color: #01813F;
}
.submit-btn:focus {
    outline: 1px solid #FFFFFF;
}
.input-text,
.input-email,
.input-password {
    background-color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: none;
    height: 44px;
    padding-left: 19px;
    margin-bottom: 16px;
}
.input-text:focus,
.input-email:focus,
.input-password:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input-text:active,
.input-email:active,
.input-password:active {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input-password + .input-password {
    margin-bottom: 20px;
}
.input-part .checkbox {
    cursor: pointer;
}
.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    outline: none;
}
.real-checkbox:focus+.custom-checkbox {
    box-shadow: 0 0 0 1px #01813F , 0 0 10px #3CB878;
}
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #7e9bbd;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}
.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../images/svg_w/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}
.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}
.submit-btn:focus {
    outline: 1px solid #01813F;
}
